body {
	margin:0;
	font-size: 20px;
	font-family: Arial, sans-serif;
}

.menu {
	display: flex;
	padding: 0;
	
}

.menu a {
	text-decoration: none;
	/*display: block;*/
}

.menu li {
	padding: 8px 16px;
	list-style: none;
}

.menu li:hover {
	background-color: #d2d2d2;
}

.submenu {
	padding: 0;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}

.has-sub:hover .submenu {
	display: block;
}

.has-sub {
	position: relative;
}