.list-item {
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding: 20px;
	border: 1px solid;
	margin: 10px;
	border-radius: 5px;
	background: rgb(2,0,36);	
background: -webkit-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: -o-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: linear-gradient(to right, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}